
*{
    margin: 0;
    padding: 0;
}



/* Custom styles for the header */
  .header {
    background-color: #f8f9fa;
    padding: 0 50px;
  }
  
  .navbar-brand img {
    height: 30px; /* Adjust the height as needed */
  }
  
  .navbar-cta {
    color: #ffffff;
    font-weight: bold;
    margin-left: 10px;
    padding: 6px 12px;
    background-color: #22817d;
    border-radius: 20px;
  }
  
  .navbar-nav {
    margin: 0 auto;
  }
  
  .navbar-nav .nav-item {
    margin-right: 15px; /* Adjust the spacing between navigation items */
  }
  
  .navbar-nav .nav-link {
    color: #333;
  }
  
  .navbar-nav .nav-link:hover {
    color: #555;
  }
  
  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    header {
        
        padding: 0 0px;
      }
    
    
    .navbar-nav {
      margin-top: 10px;
    }
    
    .navbar-toggler {
      border-color: #333;
    }
  
    .navbar-toggler-icon {
      background-color: #333;
    }
  }
  







  .hero-section {
    background-image: url("images/image\ 3.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
    height: 300px;
    border-radius: 0px;
    margin: 0 0px;
    
  }


  
@media only screen and (max-width: 600px) {
    .hero-section {
        height: 200px;
        padding: 30px;
        
    }



}



  @media (min-width: 768px) and (max-width: 1023px) {
    .hero-section {
      height: 300px;
      
    }
  

  
  }
  
  











  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
  }
  
  .about-content {
    flex: 1;
    margin-right: 30px;
  }
  
  .about-content h1 {
    font-size: 32px;
    margin-bottom: 50px;
    color: #464646;
  }


  .edit-one{
    color: rgb(9, 134, 97); 
    
    font-family: 'Roboto Mono', monospace;
    animation: blink 1s infinite;
  }

  .edit-two{
    color: rgb(77, 65, 3); 
    
    font-family: 'Roboto Mono', monospace;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  .about-p {
    margin-bottom: 20px;
  }

  .bullet-points {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.151);
    transition: box-shadow 0.3s ease;
    border-radius: 20px;
  }
  
  .bullet-points:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.356);
  }
  
  
  .about-p .bullet-points {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 20px ;
    
  }
  
  .about-p .bullet-points i {
    margin-right: 0.5em;
    font-size: 24px;
    color: #22817d;
   
  }

  .bullet-points i.fa-chevron-down{
    margin-right: 0.5em;
    font-size: 20px;
    color: #22817d;
  }
  
  .bullet-points h3 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
  }






  
  .animate {
    width: 500px; /* Adjust the width as per your requirements */
    overflow: hidden;
    
  }
  
  #rolling-image {
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.438);
    position: relative;
    animation-name: rollAnimation;
    animation-duration: 7s; /* Animation duration in seconds */
    animation-timing-function: linear; /* Use a linear timing function */
    animation-iteration-count: infinite; /* Repeat the animation infinitely */
    animation-direction: alternate; /* Reverse the animation after reaching the end */
    transform-origin: center center; /* Set the rotation origin to the center of the image */
  }
  
  @keyframes rollAnimation {
    0% {
      transform: rotate(0deg); /* Initial rotation angle */
    }
    100% {
      transform: rotate(360deg); /* Final rotation angle */
    }

    0% {
      left: -20%; /* Initial position outside the div */
    }
    100% {
      left: 100%; /* Final position at the right end of the div */
    }
  }
    
  
  
  
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #22817d;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    
    transition: background-color 0.8s ease;
    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.356);
  }

  .cta-button:hover{
    background-color: #ffffff;
    text-decoration: none;
    color: #22817d;
  }
  
  .about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    
  }
  
  .image-item {
    text-align: center;
    
    width: 100%;
    height: 100%;
  }



  
  

  .image-item img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.438);
    transition: box-shadow 0.3s ease;
  }

  .image-item img:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
  }
  
  
.image-item-1 img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 8px;
  }
  
  .image-item-2 img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 8px;
  }

  .about-item-team {
    text-align: center;
    
    border-radius: 30px;
    width:200px ;
    align-self: center;
    border: 1px solid #22817d;
    transition: background-color 0.8s ease;
  }

  .about-item-team:hover{
    background-color: #6d6605a6;
  }

  .about-item-services {
    text-align: center;
    background-color: #6d6605a6;
    border-radius: 30px;
    width:200px ;
    align-self: center;
    border: 1px solid #22817d;
    color: #ffffff;
    transition: background-color 0.8s ease;

  }

  .about-item-services:hover{
    background-color: #22817d;
  }
  
  
  .about-grid h1 {
    font-size: 24px;
    text-align: left;
    padding: 40px;
    margin: 50px 0px;
  }



    

  @media only screen and (max-width: 768px) {
    .about-section {
      display: flex;
      flex-direction: column;
      padding: 30px ;
    }
  
    .about-content {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .about-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      
    }

    .about-item-team {
        text-align: center;
        width:150px ;
        align-self: center;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.178);
        
      }

      .about-item-services{
        width: 150px;
        
        align-self: center;
        padding: 0px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.178);
      }

      
    .about-grid h1 {
      font-size: 20px;
      padding: 18px;
    }
  
    .image-item img {
      width: 100%;
      height: 100%;
    }

    .animate {
      width: 100%; /* Adjust the width as per your mobile design requirements */
    }




    .bullet-points p {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.6s ease; /* Add a smooth transition */
    }
    
    .bullet-points.active p {
      max-height: 200px; /* Adjust the value as needed */
    }
    
    .bullet-points h3 {
      cursor: pointer;
    }





  }



  




  @media (min-width: 768px) and (max-width: 1023px) {
    .about-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 10px;
    }
  

  
    .about-content {
      flex: 1;
      margin-right: 5px;
    }
  
    .animate {
      width: 350px; /* Adjust the width as per your requirements */
      overflow: hidden;
    }
  }
  




















  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
    background-color: #22817d;
  }
  
  .service-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .service-header h1 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .service-header p {
    font-size: 16px;
    color: #ffffff;
    text-align: left;
  }
  
  .service-content {
    display: flex;
    flex-direction: column;
    
  }
  
  .service-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .service-content-header h1 {
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    align-self: flex-start;
  }


  .service-cta {
    font-size: 16px;
    color: #555;
    text-decoration: none;
    padding: 8px 16px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    transition: all 0.3s ease;
    align-self: flex-end;
  }
  
  .service-cta:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
  }


  .services-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .services-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    
  }
  
  .services-content-item {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(204, 167, 5);
    width: 200px;
  }

  .services-content-item:hover {
    
    background-color: #88daba;
    color: #ffffff;
    
    
  }

 
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.content-header h3 {
  font-size: 14px;
  color: #333;
  margin: 0;
  align-items: flex-start;
}

.content-header i {
  color: green;
  align-items: flex-end;
  background-color: #919191;
  padding: 5px;
  border-radius: 50px;
}

.content-info {
  font-size: 30px;
  color: #22817d;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(88, 88, 88);
  padding-bottom: 20px;
}

.content-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.service-cta {
  font-size: 16px;
  color: #1c1d1d;
  text-decoration: none;
  padding: 2px 12px;
  border: 2px solid #555;
  border-radius: 50px;
  transition: all 0.3s ease;
  font-size: 12px;
}

.content-links p {
  font-size: 14px;
  color: #d6d6d6;
  margin: 0;
  padding: 4px 8px;
  border-radius: 50px;
  border: 1px black;
  background-color: #3d3d3d;
}
  
  

.service-stat {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px 50px;
}

.service-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  margin-right: 50px;
}

.service-stat-item h3 {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

.service-stat-item i {
  color: rgb(255, 255, 255);
  align-items: flex-end;
  background-color: #8a730c;
  padding: 5px;
  border-radius: 50px;
}
  






  
@media screen and (max-width: 767px) {
  
  .services{
    padding: 50px 15px;
    overflow-x: hidden;
  }

  .service-header {
    text-align: center;
  }

  .service-header h1 {
    font-size: 24px;
    text-align: left;
  }

  .service-header p {
    font-size: 14px;
    text-align: left;
  }

  .service-content {
    align-items: flex-start;
    width: 100%;
  }

  .service-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .service-content-header h1 {
    font-size: 20px;
    align-self: flex-start;
  }

  .service-cta {
    font-size: 14px;
    padding: 6px 12px;
    align-self: flex-end;
  }

  .services-content-item {
    margin-right: 10px;
  }

  .services-content-item h2 {
    font-size: 18px;
  }

  .services-content-item p {
    font-size: 12px;
  }
  
  .services-content-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    scroll-snap-type: x mandatory; /* Enable scroll snapping */
    width: 100%; /* Set a specific width for the container */
    padding-bottom: 20px;
  }
  
  .services-content-item {
    margin-right: 10px;
    white-space: nowrap;
    white-space: normal;
    flex-shrink: 0;
    scroll-snap-align: start;
    min-width: 230px;
    
    
  }

  .services-content-item {
    flex: 0 0 auto; /* Disable flex-shrink to prevent item shrinking */
    width: auto; /* Allow the items to expand to their content width */
    margin-right: 10px; /* Add spacing between items */
  }

  .service-stat {
    display: flex;
    flex-direction: row;
    
    justify-content: center; /* Center items horizontally */
  }

  
   
    .service-stat-item {
      width: 100px;
      margin-bottom: 10px; /* Add spacing between items */
      margin-right: 0px;
    }
    
  
    .service-stat-item h3 {
      font-size: 10px;
      
    }
    


}


@media (min-width: 768px) and (max-width: 1023px) {


  .services{
    padding: 50px;
    overflow-x: hidden;
  }

  .service-content {
    align-items: flex-start;
    width: 100%;
  }


  .service-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .service-content-header h1 {
    font-size: 20px;
    align-self: flex-start;
  }

  .service-cta {
    font-size: 14px;
    padding: 6px 12px;
    align-self: flex-end;
  }


  .services-content-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    scroll-snap-type: x mandatory; /* Enable scroll snapping */
    width: 100%; /* Set a specific width for the container */
    padding-bottom: 20px;
  }
  
  .services-content-item {
    margin-right: 10px;
    white-space: nowrap;
    white-space: normal;
    flex-shrink: 0;
    scroll-snap-align: start;
    min-width: 230px;
    
    
  }

  .services-content-item {
    flex: 0 0 auto; /* Disable flex-shrink to prevent item shrinking */
    width: auto; /* Allow the items to expand to their content width */
    margin-right: 10px; /* Add spacing between items */
  }


}

























.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background-color: #0f0f0f;
  
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  margin-bottom: 100px;
}

.footer-nav{
margin-bottom: 20px;
}

.footer-heading h1 {
  font-size: 50px;
  color: white;
  font-family: 'Baloo 2', cursive;
}

.footer-heading i {
  margin-right: 5px; /* Adjust the margin as needed */
  color: #23cfc1; /* Set the desired color for the icon */
  font-size: 50px; /* Set the desired font size for the icon */
}

.footer-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-nav ul li {
  margin-right: 10px;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Baloo 2', cursive;
}

.footer-address p {
  font-size: 18px;
  font-family: 'Baloo 2', cursive;
  color: white;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  
}

.footer-right .logo{
  margin-bottom: 30px;
}

.footer-right .cta{
  margin-bottom: 30px;
  margin-right: 40px;
}

.footer-right .socials{
  margin-bottom: 10px;
  margin-right: 50px;
}

.footer-right .logo img {
  width: 100px;
  height: 100px;
}

.footer-right .cta-button {
  padding: 10px 20px;
  background-color: #36afa9;
  color: #fff;
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
}

.footer-right .socials a {
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Baloo 2', cursive;
}

.footer-info p {
  font-size: 16px;
  font-family: 'Baloo 2', cursive;
  color: white;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
  }

  .footer-heading {
    margin-bottom: 10px;
  }

  .footer-heading h1 {
    font-size: 30px;
    color: white;
  }

  .footer-heading h1 i {
    font-size: 30px;
    
  }

  .footer-nav {
    display: none;
  }

  .footer-address p {
    font-size: 20px;
    
    
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .footer-right .logo{
    display: none;
  }

  .footer-right .cta {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .footer-right .socials {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .footer-text {
    margin-bottom: 10px;
  }

  .footer-info p {
    font-size: 18px;
    
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Adjustments for tablets (e.g., iPad Air, iPad Mini) */

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    
    
  }

  .footer-heading {
    margin-top: 20px;
    margin-bottom: 150px;
  }
  
  .footer-nav{
  margin-bottom: 20px;
  }
  
  .footer-heading h1 {
    font-size: 40px;
   
  }


  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    
  }
  
  .footer-info p {
    font-size: 20px;
    width: 300px;
  }

}



